@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap&subset=latin-ext);

/*Estilos por etiquetas*/

body{
    background-color: #F7FAFD;
    position: flex;
    width: 100%;
    
}

h1{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: 700px;
    font-size: 3.5em;
    color:#333333
}

p{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: 400px;
    font-size: 1.12em;
    color:#333333

}






/*Estilos por clase*/


.parentContainer{
    height: 8.6em;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-around;

}

.logo{
    display: flex;
    flex-direction: row;
    width: 10.2em;
    height: 3.4em;
    align-items: center;
}

.menu{
    display: flex;
    flex-direction: row;
    width: 50%;
    list-style-type: none;
    gap: 5%;
    justify-content: center;
    align-items: center;

}

.menu_item{
    font-family:'Open Sans', sans-serif;
    font-style: normal; 
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1rem;
    color: #333333;
    align-items: center;
}

.cta-download{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 700;
    color: #FF556E;
    text-align: center;
    background-color: white;
    border: 2px solid #FF556E;
    border-radius: 35px;
    padding: 0.5em;
}

.parent-section-one{
    height: 79em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 3.5%;

}

.first-page-paragraph{
    padding: 0 10% ;
}

.landing-img{
    width:100%;
    height: 70%;
    

}

.download-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
    
}

.cta-download-2{
    background-color: #FF556E;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 700;
    padding: 0.75em 3em 0.75em 3em;
    border-radius: 35px;
    border: none;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;

    height: 75%;
    width: 100%;

    

    
}

@media screen and (max-width: 1200px){
    .parentContainer{
        flex-direction: column;
        justify-content: flex-start;
    }
    


}

@media screen and (max-width: 768px ) {
    .parentContainer{
        flex-direction: column;
        justify-content: flex-start;
    }
    
}

@media screen and (max-width: 580px ) {
    .parentContainer{
        flex-direction: column;
        justify-content: flex-start;
    }
    .menu{
        flex-direction: column;
    }

    .logo{
        flex-direction: column;
        justify-content: flex-end;
        top: 5%;
    }

    .download-buttons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5%;
    
}
}





/*.nav_item{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1rem;


/*}

.top-bar, .top-bar a{
    color: blueviolet;
    
}*/

/*.top-bar{
    position: fixed;
    display: flex;
    flex: column;
    align-items: flex-start;
    padding: 2.6em 0em;
    gap: 0.6em;


}

.section-bar{
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0em 0em 0em 5em;
    gap: 12.625em;

    width: 100%;
    height: 3.45em;

}

#menu-header{
    
    display: flex;
    flex-direction: row;
    gap: 2em;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 0.75em;
    font-style: normal;


}

/*.items{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    left: 443px; 
    top:0px;

    width: 382px;
    height: 16px;
}*/

/*.menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0em 3.12em 0em 0em;
    gap: 1.5em;
}*/


/*Estilos por ID*/

#arrow{
    width: 9px;
    height: 7px;
    color: #333333;
    align-items: center;

}

#apple-android{
    width: 10%;
    height: 75%;
    fill: white;
    display: flex;
    flex-direction: row;
    justify-content: center;

}