@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap&subset=latin-ext);

/*Estilos por etiquetas*/



body{
    background-color: #F7FAFD;
    position: flex;
    width: 100%;
    margin-top: 0;
    
}

a{
    text-decoration: none;
}

h1{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: 700px;
    font-size: 3.5em;
    color:#333333;
}

.data-h1{
        height: 1px;
        margin-top: 1px;
    }

h2{
         font-family: 'Open Sans', sans-serif;
        text-align: center;
        font-style: normal;
        font-weight: 900px;
        font-size: 1em;
        color:#333333;

    }


p{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: 400px;
    font-size: 1.12em;
    color:#333333

}

.data-p{
    color: #afb3b7;
}

footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: #777777 ;
    gap: 7%;

}

h3{
    font-family: 'Open Sans', sans-serif;
    color: #999999;
    font-weight: 700;
    font-size: 1.2em;
}

.p-footer{
    color: #999999;
    text-align: right;
    font-size: 1em;
    margin-top: 1px
    
}

.p-copyright{
    color: #999999;
    text-align: center;
    font-size: 0.80em;
    margin-top: 3em

}





/*Estilos por clase*/


.parentContainer{
    height: 8.6em;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    background-color: #F7FAFD;
    position: fixed;

}

.logo{
    display: flex;
    flex-direction: row;
    width: 10.2em;
    height: 3.4em;
    align-items: center;
}

.menu{
    display: flex;
    flex-direction: row;
    width: 50%;
    list-style-type: none;
    gap: 5%;
    justify-content: center;
    align-items: center;

}

.menu_item{
    font-family:'Open Sans', sans-serif;
    font-style: normal; 
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1rem;
    color: #333333;
    align-items: center;
}

.cta-download{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 700;
    color: #FF556E;
    text-align: center;
    background-color: white;
    border: 2px solid #FF556E;
    border-radius: 35px;
    padding: 8px 16px;
}

.parent-section-one{
    height: 79em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding-top: 10em;
    padding-right: 10px;
    padding-left: 10px;
   

}

.parent-section-two{
    height: 48.5em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: center;
 
    padding-top: 40em;
    padding-bottom: 3em;
    padding-right: 10px;
    padding-left: 10px;
    

}

.parent-section-three{
    height: 49em;
    padding-top: 10em;
    background-color: #E8EFF6;
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-top: 6em;
    padding-bottom: 3em;
    padding-right: 10px;
    padding-left: 10px;
}

.parent-section-four{
    width: 100%;
    padding-top: 10em;
    background-color: #F7FAFD;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}

.parent-section-five{
    width: 100%;
    padding-top: 10em;
    padding-bottom: 10em;
    background-color: #e8eff6;

    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    width:100%;
    padding-right:10px;
    padding-left: 10px;
    gap: 5%;

}

.parent-section-six{
    width: 100%;
    padding-top: 10em;
    padding-bottom: 10em;
    background-color: #F7FAFD;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}

.first-page-paragraph{
    padding: 0 10% ;
}

.landing-img{
    width:100%;
    height: 70%;
    padding-top: 3.5%;

    animation: zoom 5s infinite;
}

@keyframes zoom{
    0% {
        transform: scale(0.5);
    }
    50%{
        transform: scale(0.75);
    }
    100%{
        transform: scale(0.5)
    }
}

.download-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
    
}

.cta-download-2{
    background-color: #FF556E;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 700;
    padding: 0.75em 3em 0.75em 3em;
    border-radius: 35px;
    border: none;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;

    height: 75%;
    width: 100%;
    
}

.circles-frame{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;    
    align-items: center;
    gap: 5%
}


.purple-circle{
    background-color: #ebe7fa;
    width: 150px;
    height: 150px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
   
}


.purple-circle:hover{
    animation: spin 1s linear infinite;
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}



.green-circle{
    background-color: #daf4ef;
    width: 150px;
    height: 150px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.green-circle:hover{
    animation: spin 1s linear infinite;

}

.red-circle{
    background-color: #f8e5ea;
    width: 150px;
    height: 150px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.red-circle:hover{
    animation: spin 1s linear infinite;
}

.yellow-circle-icon{
    background-color: #f8f1de;
    width: 150px;
    height: 150px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.yellow-circle-icon:hover{
    animation: spin 1s linear infinite;

}

.blue-circle{
    background-color: #e1f2fa;
    width: 150px;
    height: 150px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.blue-circle:hover{
    animation: spin 1s linear infinite;
  
}





/*.icon-uses{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.icon-circles{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2%;

    
    width: 20%;
    height: auto;
}

.circles{
    width: 15vw;
    height: 10vw;
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}*/

.text-in-column{

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0;

width: 35%;
height: auto;

}

.text-in-column-2{

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0;
    
    width: 50%;
    height: auto;
    
    
    }

    .terms-privacy-buttons{
        display: flex;
        gap: 5%;
    }

.column-of-text{
    object-fit: cover;
    width: 100%;
    height: 100%;

    font-size: 3em;

}

.description-image{

width: 35%;
height: fit-content;

}

.description-img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.section-three-buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: flex-start;


    
    


}

.selection-buttons{
    width: 40%;
    height: 3vw;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 700;

}

.valoration-container{

    display: flex;
    flex-direction: row;
    justify-content: center;
   
    width: 100%;
    padding-bottom: 60px;
    gap: 5%;
    
}

.valoration-container-two{

    display: flex;
    flex-direction: row;
    justify-content: center;
   
    width: 100%;
    padding-top: 80px;
    padding-bottom: 60px;
    gap: 5%;
    
}
.valoration-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.valoration-stars{
    display: flex;
    flex-direction: row;

}



.fa-star{
   
    color: gold;
}

.line{
    background-color: #e0e0e0;
    width: 3em;
    height: 0;
}

.valoration-text-container{
    display: flex;
    flex-direction: column;
   justify-content: center;
   width: auto;
}

.valoration-text{
    font-style: italic;
}

.testimonials-images{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #ffffff;
    width: 75%;
    padding: 1%;
    gap: 5%;
    flex-wrap: wrap;
    
  
    
}

.customer-logo{
    padding-top: 0.5%;
    
}

.data-info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.fa-users{
    color: #aa7eec;
    font-size: 4em;
    text-align: center;
    align-items: center;
}

.fa-code{
    color: #19ca94;
    font-size: 4em;
}

.fa-cog{
    color: #ff556e;
    font-size: 4em;
}

.fa-comments{
    color: #ffb30f;
    font-size: 4em;
}

.fa-rocket{
    color: #4fb9e8;
    font-size: 4em;
}

.download-iphone{
    width: 50%;

}

.footer-column{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: #333333;
}

.footer-line{
    background-color: #e0e0e0;
    width: 100%;
    height: 0;
    
}

.social-media{
    display: flex;
    flex-direction: row;
    gap: 5%;
}
.dot{
    height: 35px;
    width: 35px;
    background-color: #999999;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: inline-block;
    
    
}
.fa-facebook-f{
    font-size: 1.5em;
    color: #F7FAFD;
    text-align: center;
    display: block;
    
    
    
}

.fa-twitter{
    font-size: 1.5em;
    color: #F7FAFD;
    text-align: center;
    display: block;
}

.fa-pinterest-p{
    font-size: 1.5em;
    color: #F7FAFD;
    text-align: center;
    display: block;
}

.fa-instagram{
    font-size: 1.5em;
    color: #F7FAFD;
    text-align: center;
    

}




@media screen and (max-width: 1200px){
    .parentContainer{
        flex-direction: column;
        justify-content: flex-start;
    }
    


}

@media screen and (max-width: 768px ) {
    .parentContainer{
        flex-direction: column;
        justify-content: flex-start;
    }

    .parent-section-two{
        flex-direction: column;
        justify-content: flex-start;
        width: 80%;
        padding: 5%;
    }

    #lightbox-button{
        width: 20%;
        height: auto;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 580px ) {
    .parentContainer{
        flex-direction: column;
        justify-content: flex-start;
    }
    .menu{
        flex-direction: column;
    }

    .logo{
        flex-direction: column;
        justify-content: flex-end;
        top: 5%;
    }

    .download-buttons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5%;
    
    }

    .icon-uses{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .circles{
        width: 150vw;
        height: 30vw;
    }

}


/*Estilos por ID*/

#arrow{
    width: auto;
    height: 14px;
    color: #333333;
    align-items: center;

}

#apple-android{
    width: 10%;
    height: 75%;
    fill: white;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#green-diamond{
    width: 1.5% ;
    height: 1.5% ;
    align-self: flex-start;
    padding: 0em 0em 0em 2em;


}

#yellow-cirle{
    width: 2%;
    height: 2%;
    align-self: flex-end;
    padding: 0em 5em 0em 0em;

}




#purple-circle{
    
    background-color: #ebe7fa;
    border-radius: 50%;
    

}

#green-circle{
    background-color: #daf4ef;
    border-radius: 50%;

}

#red-circle{
    background-color: #f8e5ea;
    border-radius: 50%;

}

#yellow-circle-icon{
    background-color: #f8f1de;
    border-radius: 50%;

}

#blue-circle{
    
    background-color: #e1f2fa;
    border-radius: 50%;

}





#lightbox-button{
    width: 50%;
}

#section-text{
    text-align: left;
    
}

#privacy-button{
    background-color: #E8EFF6;
    color: #333333;
    border-color: #333333;
    padding: 0.75em 3em 0.75em 3em

}

#schedule-button{
    background-color: #9a67e7;
    color: #f7fafd;

}

#tracking-button{
    background-color: #f7fafd;
    color: #777777;

}

#organize-button{
    background-color: #f7fafd;
    color: #777777;

}









